.title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.header {
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #F5A62F 0%, #C22B2B 100%);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.jams {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #fff;
}