html {
    box-sizing: border-box;
    font-size: 16px;
}

.tracklistSearch {
    height: 19rem;
    width: 22rem;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: linear-gradient(to right, #F5A62F 0%, #C22B2B 100%);
}

.tracklistPlaylist {
    width: 20.5rem;
    height: 18rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: linear-gradient(to bottom, #F5A62F 0%, #C22B2B 100%);
}

.tracklistSearch::-webkit-scrollbar, .tracklistPlaylist::-webkit-scrollbar {
    width: 8px;
}

.tracklistSearch::-webkit-scrollbar-track, .tracklistPlaylist::-webkit-scrollbar {
    background: transparent;
}

.tracklistPlaylist::-webkit-scrollbar {
    background: linear-gradient(to bottom, #F5A62F 0%, #C22B2B 100%);
    border-radius: 10px;
    border: 2.5px solid transparent;
    background-clip: content-box;
}

.tracklistSearch::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #F5A62F 0%, #C22B2B 100%);
    border-radius: 10px;
    border: 2.5px solid transparent;
    background-clip: content-box;
}

.tracklistSearch::after, tracklistPlaylist::after {
    content: '';
    display: table;
    clear: both;
}