.inputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 80px 0;
}

.input {
    min-height: 50px;
    width: 60%;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #f8b500;
    border-radius: 6px 0 0 6px;
    background-color: rgba(248, 182, 0, 0.442);
}

input::placeholder {
    color: #fff;
}

.buttonSubmit {
    min-height: 50px;
    width: 20%;
    padding: .5em 1em;
    border: 1px solid #f8b500;
    border-radius: 0 6px 6px 0;
    background-color: #f8b500;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.buttonSubmit:hover {
    background-color: #ffc62c;
}

.input:focus, .input:focus-visible {
    border-color: #c59000;
    outline: none;
}
