html {
  box-sizing: border-box;
  font-size: 16px;
}

.app {
  background: radial-gradient(farthest-corner at 1rem 40rem, #CF5E1E, #000);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.headerDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.headerContainers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.jammming {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgba(255,255,255,0.8);
}

.jammming span {
  color: #CF5E1E;
}

.tagline {
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}