body {
  /* display: flex; */
  background-color: #111111;
  /* justify-content: center; */
}

.app {
  /* display: flex; */
  width: 90vw;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  background-color: #576083;
}

.lists {
  width: 90%;
  /* display: flex; */
  /* justify-content: space-around; */
}

.logo {
  margin: 80px 0 0 0;
  width: 300px;
}