.colour {
    height: 50px;
    width: 100px;
}

.one {
    background-color: #f8b500;
}

.two {
    background-color: #576083;
}

.three {
    background-color: #111111;
}

.four {
    background-color: #ffc62c;
}

.five {
    background-color: #c59000;
}

.six {
    background-color: #6e789f;
}